write-kubeconfig-mode: "{{ k3s_write_kubeconfig_mode }}"
disable:
{% for item in k3s_disable %}
  - {{ item }}
{% endfor %}
{% if k3s_tls_san %}
tls-san:
{% for san in k3s_tls_san %}
  - "{{ san }}"
{% endfor %}
{% endif %}
